<div class=" border border-blue-400 py-16 px-16 my-10">
  <h1 class="text-7xl font-bold">tailwindcss入門</h1>
</div>
<div class=" border border-blue-400 py-16 px-16 my-10">
  <h1 class="text-7xl font-bold">tailwindcss入門</h1>
</div>
