<div class=" border border-blue-400 py-16 px-16 my-10">
  <h1 class="lg:text-7xl text-3xl font-bold text-indigo-600 sm:text-amber-700 md:text-yellow-400 lg:text-purple-600 xl:text-cyan-500">tailwindcss入門</h1>
</div>
<div class=" border border-blue-400 py-16 px-16 my-10">
  <h1 class="text-7xl font-bold">tailwindcss入門</h1>
</div>
<button class="easy_button">ボタン</button>
<button class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 ml-10 rounded-md">ボタン</button>
<button class="btn btn-blue">ボタン</button>